* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #808080;
  height: 10vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #fff;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

h4 {
  text-align: center;
  margin-top: 10px;
}

#texto-explicativo {
  background-color: blueviolet;
  padding: 16px;
  color: #fff;
  border-radius: 1rem;
}

p {
  margin-top: 20px;
}

iframe {
  margin-top: 40px;
  width: 100%;
  margin-bottom: 40px;
  height: 50vw;
}

@media screen and (max-width: 992px) {
  header {
    height: 30vw;
    font-size: 30px;
  }
  .container {
    max-width: 600px;
    padding: 20px;
  }

  iframe {
    height: 90vw;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 500px;
    padding: 20px;
  }
}
